homeassistant:
  auth_mfa_modules:
    - type: totp
  packages: !include_dir_merge_named packages/
#
# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes

http: !include http.yaml

# Text to speech
tts:
  - platform: google_translate

lovelace: !include lovelace.yaml

logger:
  logs:
    custom_component.gtfs_rt: debug
