homeassistant:
  auth_mfa_modules:
    - type: totp
  packages: !include_dir_merge_named packages
#
# Loads default set of integrations. Do not remove.
default_config:
logger:
  default: warning

lovelace: !include lovelace.yaml
frontend:
  extra_module_url: 
    - /local/community/lovelace-card-mod/card-mod.js
    - /local/community/Bubble-Card/bubble-pop-up-fix.js

http: !include http.yaml
# Text to speech
tts:
  - platform: google_translate

auth_oidc: !include auth_oidc.yaml
